/*$color-main : rgba(0,0,0,.5);*/
$color-first : #5CB5CF;
$color-second : #007299;
$color-frame: #dddddd;
$color-gray-first : #777;
$color-gray-second : #333;
$color-gray-third : #444;
$color-gray-fourth : #555;
$square-width: 30px;
$logo-font: Wire One;
$logo-font-size: 40px;
$main-font: Dosis, Arial;
$main-width: 1000px;
$container-left-width: 200px;
$container-width: $main-width - $container-left-width;
$bg-img: white;
$bg-img-main: url(../img/shared/bg/bg5-1000k.jpg);
